.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.titulo-audicion{
    margin-bottom: 20px;
    color: #333;
}

.letra-div {
    display: inline-block;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.letra-div:hover {
    background-color: #e0e0e0;
    transform: scale(1.1);
}